# APIs Lab
In this lab we will practice using APIs to retrieve and store data.

In [2]:
# Imports at the top
import json
import urllib
import pandas as pd
import numpy as np
import requests
import json
import re
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
%matplotlib inline

## Exercise 1: IMDB Movies

Sometimes an API doesn't provide all the information we would like to get and we need to be creative.
Here we will use a combination of scraping and API calls to investigate the ratings and gross earnings of famous movies.

## 1.a Get top movies

The Internet Movie Database contains data about movies. Unfortunately it does not have a public API.

The page http://www.imdb.com/chart/top contains the list of the top 250 movies of all times. Retrieve the page using the requests library and then parse the html to obtain a list of the `movie_ids` for these movies. You can parse it with regular expression or using a library like `BeautifulSoup`.

**Hint:** movie_ids look like this: `tt2582802`

In [3]:
soup = BeautifulSoup(urllib.urlopen('http://www.imdb.com/chart/top'))
tables = soup.find_all('table')
table = tables[0]
mov_ids = []
for idx, i in enumerate(table.find_all('tr')):
    if idx > 0:
        for idx1, j in enumerate(i.find_all('a')):
            if idx1 == 0:
                mov_ids.append(j['href'].split('/')[2])
print mov_ids

//anaconda/lib/python2.7/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 174 of the file //anaconda/lib/python2.7/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

['tt0111161', 'tt0068646', 'tt0071562', 'tt0468569', 'tt0050083', 'tt0108052', 'tt0110912', 'tt0167260', 'tt0060196', 'tt0137523', 'tt0120737', 'tt0080684', 'tt0109830', 'tt1375666', 'tt0167261', 'tt0073486', 'tt0099685', 'tt0133093', 'tt0047478', 'tt0076759', 'tt0317248', 'tt0114369', 'tt0102926', 'tt0038650', 'tt0114814', 'tt0118799', 'tt0110413', 'tt0245429', 'tt0120815', 'tt0064116', 'tt0120586', 'tt0816692', 'tt0034583', 'tt0054215', 'tt0021749', 'tt0082971', 'tt0120689', 'tt1675434', 'tt0027977', 'tt0047396', 'tt0103064', 'tt0407887', 'tt0253474', 'tt0088763', 'tt2582802', 'tt0172495', 'tt0209144', 'tt0078788', 'tt0482571', 'tt0110357', 'tt0078748', 'tt0057012', 'tt0043014', 'tt0032553', 'tt0405094', 'tt0095765', 'tt0050825', 'tt1853728', 'tt0081505', 'tt0095327', 'tt0910970', 'tt1345836', 'tt0169547', 'tt0119698', 'tt0090605', 'tt0364569', 'tt0087843', 'tt0033467', 'tt0082096', 'tt0051201', 'tt0053125', 'tt0052357', 'tt0086190', 'tt0022100', 'tt0105236', 'tt0112573', 'tt0211915', 'tt0180093', 'tt0986264', 'tt0476735', 'tt0066921', 'tt0075314', 'tt0056172', 'tt0036775', 'tt0056592', 'tt0435761', 'tt0338013', 'tt0086879', 'tt0093058', 'tt0070735', 'tt0109117', 'tt0062622', 'tt0040522', 'tt0114709', 'tt0208092', 'tt0045152', 'tt0361748', 'tt0012349', 'tt0071853', 'tt0119488', 'tt0059578', 'tt1187043', 'tt0042876', 'tt0086250', 'tt0053604', 'tt0097576', 'tt1832382', 'tt0017136', 'tt2106476', 'tt0119217', 'tt0042192', 'tt0055630', 'tt0372784', 'tt0040897', 'tt0053291', 'tt1049413', 'tt0242519', 'tt0105695', 'tt0041959', 'tt0363163', 'tt0081398', 'tt0095016', 'tt0118849', 'tt0057115', 'tt0113277', 'tt0071315', 'tt2096673', 'tt0116231', 'tt0457430', 'tt0047296', 'tt0044741', 'tt0096283', 'tt3170832', 'tt0089881', 'tt0015864', 'tt0050212', 'tt0031679', 'tt1305806', 'tt0083658', 'tt0050976', 'tt0120735', 'tt0347149', 'tt0112641', 'tt0055031', 'tt0050986', 'tt0019254', 'tt0017925', 'tt0080678', 'tt0268978', 'tt0018455', 'tt1291584', 'tt0993846', 'tt0434409', 'tt1255953', 'tt1205489', 'tt0118715', 'tt0046438', 'tt0077416', 'tt0046912', 'tt0117951', 'tt0031381', 'tt0116282', 'tt0032976', 'tt0266543', 'tt0061512', 'tt0167404', 'tt0892769', 'tt0084787', 'tt2488496', 'tt0477348', 'tt0758758', 'tt0266697', 'tt0978762', 'tt2267998', 'tt0469494', 'tt0091251', 'tt0025316', 'tt0079470', 'tt1979320', 'tt0074896', 'tt0395169', 'tt0091763', 'tt0050783', 'tt0074958', 'tt0046268', 'tt1130884', 'tt1895587', 'tt0033870', 'tt0064115', 'tt0092005', 'tt0107207', 'tt1392190', 'tt0053198', 'tt3011894', 'tt2024544', 'tt0060827', 'tt0052618', 'tt2278388', 'tt0245712', 'tt0405159', 'tt0093779', 'tt0107290', 'tt1028532', 'tt0087544', 'tt0052311', 'tt0079944', 'tt0032551', 'tt0353969', 'tt0075686', 'tt0120382', 'tt2948356', 'tt0112471', 'tt0083987', 'tt0440963', 'tt0046911', 'tt0075148', 'tt0246578', 'tt1201607', 'tt0056801', 'tt0198781', 'tt0032138', 'tt0088247', 'tt0107048', 'tt0114746', 'tt1392214', 'tt0073195', 'tt0036868', 'tt0338564', 'tt0072684', 'tt0113247', 'tt0264464', 'tt0044079', 'tt0401792', 'tt0058946', 'tt0072890', 'tt0041546', 'tt1954470', 'tt0325980', 'tt1865505', 'tt1454029', 'tt2084970', 'tt1663202', 'tt1220719', 'tt3659388', 'tt1431045', 'tt0092067', 'tt0058461', 'tt0046250', 'tt2015381', 'tt0083922']

## 1.b Get top movies data

Although the Internet Movie Database does not have a public API, an open API exists at http://www.omdbapi.com.

Use this API to retrieve information about each of the 250 movies you have extracted in the previous step.
- Check the documentation of omdbapi.com to learn how to request movie data by id
- Define a function that returns a python object with all the information for a given id
- Iterate on all the IDs and store the results in a list of such objects
- Create a Pandas Dataframe from the list

In [161]:

mov_info = pd.DataFrame()
for i in mov_ids:
    soup = BeautifulSoup(urllib.urlopen('http://www.omdbapi.com/?i='+ i), "lxml")
    parsed_json = json.loads(soup.text)
    mov_info = pd.concat((mov_info, (pd.DataFrame([parsed_json]))), axis = 0)
    
mov_info.head()

,Actors,Awards,Country,Director,Genre,Language,Metascore,Plot,Poster,Rated,Released,Response,Runtime,Title,Type,Writer,Year,imdbID,imdbRating,imdbVotes
0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Nominated for 7 Oscars. Another 18 wins & 30 n...,USA,Frank Darabont,"Crime, Drama",English,80,Two imprisoned men bond over a number of years...,https://images-na.ssl-images-amazon.com/images...,R,14 Oct 1994,True,142 min,The Shawshank Redemption,movie,"Stephen King (short story ""Rita Hayworth and S...",1994,tt0111161,9.3,"1,711,064"
0,"Marlon Brando, Al Pacino, James Caan, Richard ...",Won 3 Oscars. Another 23 wins & 27 nominations.,USA,Francis Ford Coppola,"Crime, Drama","English, Italian, Latin",100,The aging patriarch of an organized crime dyna...,https://images-na.ssl-images-amazon.com/images...,R,24 Mar 1972,True,175 min,The Godfather,movie,"Mario Puzo (screenplay), Francis Ford Coppola ...",1972,tt0068646,9.2,"1,177,812"
0,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",Won 6 Oscars. Another 10 wins & 20 nominations.,USA,Francis Ford Coppola,"Crime, Drama","English, Italian, Spanish, Latin, Sicilian",80,The early life and career of Vito Corleone in ...,https://images-na.ssl-images-amazon.com/images...,R,20 Dec 1974,True,202 min,The Godfather: Part II,movie,"Francis Ford Coppola (screenplay), Mario Puzo ...",1974,tt0071562,9.0,"807,734"
0,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",Won 2 Oscars. Another 146 wins & 142 nominations.,"USA, UK",Christopher Nolan,"Action, Crime, Drama","English, Mandarin",82,When the menace known as the Joker wreaks havo...,https://images-na.ssl-images-amazon.com/images...,PG-13,18 Jul 2008,True,152 min,The Dark Knight,movie,"Jonathan Nolan (screenplay), Christopher Nolan...",2008,tt0468569,9.0,"1,699,835"
0,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",Nominated for 3 Oscars. Another 16 wins & 8 no...,USA,Sidney Lumet,"Crime, Drama",English,N/A,A jury holdout attempts to prevent a miscarria...,https://images-na.ssl-images-amazon.com/images...,APPROVED,01 Apr 1957,True,96 min,12 Angry Men,movie,"Reginald Rose (story), Reginald Rose (screenplay)",1957,tt0050083,8.9,"455,987"

## 1.c Get gross data

The OMDB API is great, but it does not provide information about Gross Revenue of the movie. We'll revert back to scraping for this.

- Write a function that retrieves the gross revenue from the entry page at imdb.com
- The function should handle the exception of when the page doesn't report gross revenue
- Retrieve the gross revenue for each movie and store it in a separate dataframe

In [162]:
mov_hrefs = []
for idx, i in enumerate(table.find_all('tr')):
    if idx > 0:
        for idx1, j in enumerate(i.find_all('a')):
            if idx1 == 0:
                mov_hrefs.append(j['href'])

In [163]:
listy = []
for i in mov_hrefs:
    listy.append(BeautifulSoup(urllib.urlopen('http://www.imdb.com/'+i)))

In [164]:
# Test for function
soupy = BeautifulSoup(urllib.urlopen('http://www.imdb.com/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2398042102&pf_rd_r=0774AXCEHSH9WT2N1T7T&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_tt_1'))

for idx, i in enumerate(soupy.find_all('div', id="titleDetails")):
    for idx1, j in enumerate(i.find_all('div', class_='txt-block')):
        if 'Gross' in j.text:
            print (j.text.split('$')[1]).split(' ')[0]

28,341,469

In [165]:
# getting and formatting gross
def thing(k):
    gross_ = []
    found = False
    for idx, i in enumerate(k.find_all('div', id="titleDetails")):
        for idx1, j in enumerate(i.find_all('div', class_='txt-block')):
            if 'Gross' in j.text:
                gross_.append(float((j.text.split('$')[1]).split(' ')[0].replace(',', '')))
                found = True
    if not found:
        gross_.append(0.0)
    return gross_

gross = []
for i in listy:
    gross += thing(i)
gross[:5]

[28341469.0, 134821952.0, 57300000.0, 533316061.0, 0.0]

In [166]:
len(gross)

250

## 1.d Data munging

- Now that you have movie information and gross revenue information, let's clean the two datasets.
- Check if there are null values. Be careful they may appear to be valid strings.
- Convert the columns to the appropriate formats. In particular handle:
    - Released
    - Runtime
    - year
    - imdbRating
    - imdbVotes
- Merge the data from the two datasets into a single one

In [167]:
mov_info['Gross'] = gross

In [168]:
# Get rid of N/As in Metascore
total = 0
count = 0
for i in mov_info['Metascore']:
    try:
        i = float(i)
        total += i
        count += 1
    except:
        continue
avg = (total / count)
mov_info['Metascore'] = [str(i) for i in mov_info['Metascore']]
mov_info['Metascore'] = [i.replace('N/A', str(avg)) for i in mov_info['Metascore']]
mov_info['Metascore'] = [float(i) for i in mov_info['Metascore']]

In [169]:
# Getting rid of N/As in Rated
mov_info['Rated'] = [str(i) for i in mov_info['Rated']]
mov_info['Rated'] = [i.replace('Not Rated', 'NOT RATED') for i in mov_info['Rated']]
mov_info['Rated'].value_counts()

R            104
PG            38
PG-13         32
NOT RATED     24
APPROVED      20
G             12
UNRATED        9
PASSED         6
N/A            4
M              1
Name: Rated, dtype: int64

In [177]:
# Indexing was wrong, had to fix it
# mov_info.index = range(0,250)
# mov_info.loc[134,'Released'] = '01 Jan 1925'

In [206]:
# Changing types
# mov_info['imdbRating'] = [float(i) for i in mov_info['imdbRating']]
# mov_info['Runtime'] = [float(str(i).split(' ')[0]) for i in mov_info['Runtime']]
# mov_info['Year'] = [pd.to_datetime(str(i)) for i in mov_info['Year']]
# mov_info['Released'] = [pd.to_datetime(str(i), format='%d %b %Y') for i in mov_info['Released']]
# mov_info['imdbVotes'] = [float(str(i).replace(',', '')) for i in mov_info['imdbVotes']]

## 1.e Text vectorization

There are several columns in the data that contain a comma separated list of items, for example the Genre column and the Actors column. Let's transform those to binary columns using the count vectorizer from scikit learn.

Append these columns to the merged dataframe.

**Hint:** In order to get the actors name right, you'll have to modify the `token_pattern` in the `CountVectorizer`.

In [319]:
from sklearn.feature_extraction.text import CountVectorizer

v = CountVectorizer(
    binary=True,  # Create binary features
    stop_words='english', # Ignore common words such as 'the', 'and'
    max_features=1000,
    ngram_range=(1, 2)
)
X_plot = pd.DataFrame(v.fit_transform(mov_info['Plot']).todense())
X_plot.columns = v.get_feature_names()
X_plot.head()

,000,1950s,1984,24,abandoned,able,accident,accidentally,action,actress,...,wrong,wwii,year,year old,years,york,young,young boy,young man,young woman
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [321]:
v = CountVectorizer(
    binary=True,
    stop_words='english',
    ngram_range=(1, 2),
)

X_genre = pd.DataFrame(v.fit_transform(mov_info['Genre']).todense())
X_genre.columns = v.get_feature_names()
X_genre.head()

,action,action adventure,action biography,action crime,action drama,action mystery,action sci,action thriller,adventure,adventure biography,...,noir romance,romance,romance thriller,romance war,sci,sci fi,sport,thriller,war,western
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [322]:
v = CountVectorizer(
    binary=True,
    tokenizer=lambda x: x.split(', ')
)

X_actors = pd.DataFrame(v.fit_transform(mov_info['Actors']).todense())
X_actors.columns = v.get_feature_names()
X_actors.head()

,aamir khan,aaron eckhart,abdel ahmed ghili,adam baldwin,adam driver,adolphe menjou,adrien brody,agnes moorehead,ahney her,akemi yamaguchi,...,yacef saadi,yesim salkim,yoshiko shinohara,yukiko shimazaki,yves montand,yôko tsukasa,zach grenier,zoe saldana,álvaro guerrero,çetin tekindor
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [323]:
XXX = mov_info.merge(X_actors, how='inner', left_index=True, right_index=True)
XX = XXX.merge(X_genre, how='inner', left_index=True, right_index=True)
df = XX.merge(X_plot, how='inner', left_index=True, right_index=True)
med_ = np.median(df['Gross'])
df['Gross'] = df['Gross'].replace(0, med_)
df.columns[:25]
df.ix[2, 'Actors']

u'Al Pacino, Robert Duvall, Diane Keaton, Robert De Niro'

## Exercise 2: Showing Our Data

We did all that hard work. Let's show it to the world! First save your .csv file.

```
df.to_csv('imdb.csv', sep='\t', encoding='utf-8')
```

In [324]:
df.to_csv('imdb.csv', sep='\t', encoding='utf-8')

## 2.a Add model

Add a new model to the models.py file in your website folder. It should contain each movie's meta data such as rank, summary, genre, and rating. Here is an example of a movies model.

```
class TopMovies(models.Model):
    name = models.CharField(max_length=200)
    rank = models.IntegerField(default=-1)
    created = models.DateTimeField(auto_now_add=True, blank=True)
```

## 2.b Add Url
Add the following path to your url.py file.

```
url(r'^imdb/top/$', views.imdb, name='imdb')
```

## 2.c Create View

Create your view. Remember you need to name it imdb! Your view should contain the following logic:

- If your imdb database has no values in it
    - Open up your imdb.csv file and populate the model
- Retrieve model and show the data on your webpage

## 2.d Create Template

Link a new template to your view. Your template must do the following things:

- Use a table, rows, and columns to organize your data
- Have a different background color besides white
- Show your image poster links as images

## 2.e Submit Url

Paste your new url below

https://secure-bayou-76149.herokuapp.com/site/imdb/top/